body{
	background:grey;
}

.main{
	margin:auto;
	width:800px;
	background:white;
}

div{
	margin:5px;
	padding: 5px;
	background:pink;
	
}

.inside{

	padding:5px;
	background:grey;
	display:inline-block;
}
